footer {
    bottom: 0;
    width: max;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-links a, .social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.social-media a {
    font-size: 24px;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}
