<footer>
    <div class="footer-content">
        <div class="footer-links">
            <a href="/impressum">Impressum</a>
            <a href="https://www.fedlex.admin.ch/eli/oc/2022/568/de">Datenschutz</a>
            <a href="/contact">Kontakt</a>
        </div>
        <div class="social-media">
            <!-- LinkedIn Icon -->
        <a href="https://www.linkedin.com/in/dinohamzic/" target="_blank" aria-label="LinkedIn" rel="noopener noreferrer">
            <i class="fab fa-linkedin-in"></i>
        </a>

        <!-- Instagram Icon -->
        <a href="https://www.instagram.com/dino.h17/" target="_blank" aria-label="Instagram" rel="noopener noreferrer">
            <i class="fab fa-instagram"></i>
        </a>
            <a href="https://www.facebook.com/deinProfil" target="_blank" aria-label="Facebook" rel="noopener noreferrer">
                <i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 Dino Hamzic | Alle Rechte vorbehalten.</p>
    </div>
</footer>



