<footer>
    <div class="footer-content">
        <div class="footer-links">
            <a href="/impressum">Impressum</a>
            <a href="https://www.fedlex.admin.ch/eli/oc/2022/568/de">Datenschutz</a>
            <a href="/contact">Kontakt</a>
        </div>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/dinohamzic/">Linkedin</a>
            <a href="https://www.instagram.com/dino.h17/" target="_blank" aria-label="Instagram">Instagram</a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 Dino Hamzic. Alle Rechte vorbehalten.</p>
    </div>
</footer>