<main>
    <section class="persoenliche-info">
        <div class="portrait">
            <img src="/angular-pp/src/pictures/portrait.jpg" alt="Porträt">
        </div>
        <div class="text">
            <h2>Über Mich</h2>
            <p>Ich bin ein 22-jähriger Wirtschaftsinformatikstudent aus Thun, leidenschaftlich an der Schnittstelle von Wirtschaft und Technologie. In meinem Studium konzentriere ich mich auf die Anwendung moderner IT-Lösungen zur Lösung komplexer Geschäftsprobleme. Ich bin stets auf der Suche nach neuen Herausforderungen und Möglichkeiten, meine Fähigkeiten zu erweitern.</p>
        </div>
    </section>

    <section class="hobbies">
        <h2>Hobbys</h2>
        <p>Abseits der Universität verbringe ich meine Zeit mit einer Vielzahl von Aktivitäten. Ich bin begeisterter Bergsteiger und genieße es, die Alpen zu erkunden. Die Fotografie ist eine weitere Leidenschaft von mir, und ich verbringe viele Stunden damit, die perfekte Aufnahme der Natur zu machen. Zudem programmiere ich gerne in meiner Freizeit, arbeite an eigenen kleinen Projekten und experimentiere mit neuen Technologien.</p>
    </section>

    <section class="staerken-schwaechen">
        <h2>Stärken und Schwächen</h2>
        <p>Meine größte Stärke ist meine analytische Fähigkeit, komplexe Probleme systematisch zu lösen. Teamarbeit und Kommunikation sind weitere Kompetenzen, die ich in verschiedenen Projekten stetig verbessere. Meine Schwäche liegt in der öffentlichen Rede, aber ich arbeite hart daran, selbstbewusster zu präsentieren und meine Gedanken klar auszudrücken.</p>
    </section>

    <section class="erfahrungen">
        <h2>Erfahrungen</h2>
        <p>Im Laufe meines Studiums habe ich an mehreren Projekten gearbeitet. Dazu gehörte die Entwicklung einer App zur Verbesserung der Kommunikation in kleinen Unternehmen sowie die Mitarbeit an einem Projekt zum Aufbau einer Datenanalyseplattform für lokale NGOs. Diese Erfahrungen haben mein Verständnis für praktische Anwendungen der Wirtschaftsinformatik vertieft und meine Begeisterung für das Fachgebiet weiter angefacht.</p>
    </section>
</main>
